<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Configuración del documento -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Enlaces a archivos de estilo externos -->
    <link rel="stylesheet" type="text/css" href="../css/home.css">
    <link rel="stylesheet" type="text/css" href="../css/destino.css">
    <link rel="stylesheet" type="text/css" href="../css/nav.css">
    <!-- Enlaces a bibliotecas de Bootstrap y Bootstrap Icons desde un CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <!-- Título de la página y favicon -->
    <title>EpicScape | <%= result.nombre %></title>
    <link rel="icon" href="../images/logo.png" type="image/x-icon">
</head>
<body>
    <!-- Inclusión del encabezado y la barra de navegación -->
    <%- include('header.ejs') %>
    <%- include('nav.ejs') %>

    <!-- Barra de navegación de migas de pan -->
    <nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb" class="border border-1 border-top-0 border-dark breadcrumb-nav">
        <ol class="breadcrumb align-items-center me-auto my-auto">
            <!-- Elementos de las migas de pan -->
            <li class="breadcrumb-item d-flex align-items-center">
                <a href="/" class="text-decoration-none">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page"><%= result.nombre %></li>
        </ol>
    </nav>

    <main>
        <!-- Sección de mensajes y alertas -->
        <% if (mensaje == "¡Ups! Ha ocurrido un error al realizar la acción.") { %>
            <div class="alert alert-danger bg-danger bg-gradient text-black" role="alert">
                ¡Ups! No se pudo realizar la acción debido a un fallo. Por favor, inténtalo de nuevo más tarde.
            </div>
        <% } else if(mensaje) { %>
            <div class="alert alert-success bg-gradient text-dark" role="alert">
                <%= mensaje %>
            </div>
        <% } %>

        <!-- Sección de información del destino -->
        <div class="border-bottom">
            <h2 class="titulo-dest"><strong><%= result.nombre %></strong></h2>
        </div>
        <div class="destino-container">
            <div class="row">
                <!-- Sección de imágenes del destino -->
                <div class="col col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center align-items-center mt-3">
                    <div class="border border-end">
                        <!-- Carrusel de imágenes del destino -->
                        <div id="carouselExample" class="carousel slide carousel-fade" data-bs-ride="carousel">
                            <div id="carouselExample" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                  <!-- Iteración sobre las imágenes del destino -->
                                  <% results.forEach((imagen, index) => { %>
                                    <!-- Elemento del carrusel -->
                                    <div class="rounded carousel-item <%= index === 0 ? 'active' : '' %>">
                                      <!-- Imagen del destino -->
                                      <img src="<%= imagen.url %>" class="img-mediana" alt="<%= result.nombre %>">
                                    </div>
                                  <% }); %>
                                </div>
                            </div>
                                               
                            <!-- Controles del carrusel -->
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Sección de información y reserva del destino -->
                <div class="col col-lg-6 col-md-12 col-12 d-flex justify-content-center align-items-center flex-sm-column">
                    <!-- Contenedor de información del destino -->
                    <div class="destino-info bg-secondary p-4 bg-opacity-25 mx-auto rounded d-flex flex-column">
                        <!-- Descripción del destino -->
                        <p class="desc"><%= result.descripcion %></p>
                        <!-- Precio del destino y botón de reserva -->
                        <div class="mt-auto d-flex justify-content-between align-items-center">
                            <h4 class="price end-0 mb-0">Por solamente: <%= result.precio %>€</h4>
                            <button onclick="mostrarPopup()" type="button" class="reservar-btn mt-auto btn btn-danger px-3 py-3">Reservar</button>
                        </div>
                    </div>
                
                    <!-- Ventana emergente para reservas -->
                    <div class="popup-container" id="popup">
                        <div class="popup-content">
                            <!-- Formulario de reserva -->
                            <form onsubmit="return validarFormulario()" action="/destino/<%= result.id %>/reservar" method="post" class="general" onsubmit="return validarFormulario()">
                                <label for="nombre">Nombre:</label>
                                <input type="text" id="nombre" name="nombre" required><br><br>
                            
                                <label for="email">Email:</label>
                                <input type="email" id="email" name="email" required><br><br>
                            
                                <label for="fecha_llegada">Fecha de reserva:</label>
                                <input type="date" id="fecha_reserva" name="fecha_reserva" required><br><br>
                            
                                <!-- Botones de confirmar y cerrar -->
                                <div class="button-container">
                                    <button type="submit" class="botonconfirmar">Confirmar</button>
                                    <button type="button" onclick="cerrarPopup()" class="cerrar-btn">Cerrar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Formulario de comentarios -->
        <div class="comentario-form m-5">
            <h5>Deja un comentario:</h5>
            <form action="/destino/<%= result.id %>/comentarios" method="post" th:object="${comentario}">
                <!-- Campo oculto para el ID del destino -->
                <input type="hidden" th:field="*{destinoId}" th:value="${result.id}" />
                <!-- Campo de nombre -->
                <div class="mb-3">
                    <label for="nombre_usuario" class="form-label">Nombre:</label>
                    <input type="text" class="form-control" id="nombre_usuario" name="nombre_usuario" required>
                </div>
                <!-- Campo de comentario -->
                <div class="mb-3">
                    <label for="comentario" class="form-label">Comentario:</label>
                    <textarea class="form-control" id="comentario" name="comentario" rows="1" required></textarea>
                </div>
                <!-- Botón de enviar comentario -->
                <button type="submit" class="btn btn-primary">Enviar comentario</button>
            </form>
        </div>

        <!-- Lista de comentarios -->
        <div class="comentarios-lista m-5">
            <h5>Comentarios:</h5>
            <!-- Comprobación de si hay comentarios -->
            <% if (comentarios.length === 0) { %>
                <!-- Mensaje si no hay comentarios -->
                <h6 class="comentario-text m-3">
                    ¡Sé el primero en comentar tu opinión sobre el viaje!
                </h6>
            <!-- Iteración sobre los comentarios -->
            <% } else { %>
                <% comentarios.forEach(function(comentario) { %>
                    <!-- Elemento de comentario -->
                    <div class="comentario border border-dark bg-secondary bg-opacity-25 mb-2 rounded-2">
                        <!-- Contenido del comentario -->
                        <p class="comentario-text">
                            <strong><%= comentario.nombre_usuario %>:</strong> <%= comentario.comentario %>
                            <br>
                            <!-- Fecha del comentario -->
                            <small class="fecha-comentario"><%= comentario.fecha_comentario %></small>
                        </p>
                    </div>
                <% }); %>
            <% } %>
        </div>       
    </main>

    <!-- Scripts externos -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-lightbox@0.7.0/dist/bootstrap-lightbox.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Scripts locales -->
    <script>
        // Función para mostrar la ventana emergente
        function mostrarPopup() {
            document.getElementById('popup').style.display = 'block';
        }
    
        // Función para cerrar la ventana emergente
        function cerrarPopup() {
            document.getElementById('popup').style.display = 'none';
        }

        // Función para validar el formulario de reserva
        function validarFormulario() {
            var fechaReserva = new Date(document.getElementById('fecha_reserva').value);
            var fechaActual = new Date();
            // Compara las fechas
            if (fechaReserva < fechaActual) {
                alert('La fecha de reserva debe ser posterior a la fecha actual.');
                return false; // Evita que el formulario se envíe
            }
            return true; // Permite que el formulario se envíe
        }
    </script>
</body>

<!-- Inclusión del pie de página -->
<%- include('footer.ejs') %>

</html>
